<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Chantiers</h4>
	</div>
	<div class=" card-body">
		<div *ngIf="list?.length > 0; else noItemsFound" class=" table-responsive">
			<table class=" table tablesorter">
				<thead class=" text-primary">
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Charge vendue</th>
						<th>Charge challeng&eacute;e</th>
						<th>Charge consomm&eacute;e</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of list">
						<td [style.background-color]="item?.color?.code">{{item?.name}}</td>
						<td>{{item?.status}}</td>
						<td>{{item?.soldWorkload}}</td>
						<td>{{item?.challengedWorkload}}</td>
						<td>{{item?.consumedWorkload}}</td>
						<td>
							<a [routerLink]="['/subproject', item.id]">
								<i class="tim-icons icon-pencil"></i>
							</a>
							<i (click)="openDeleteModal(item)" class="tim-icons icon-trash-simple"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ng-template #noItemsFound>
			<div>
				Pas de chantiers trouv&eacute;s
			</div>
		</ng-template>
		<button (click)="openFormModal()" class=" btn btn-fill btn-danger" >Ajouter un chantier</button>
	</div>
</div>
