<div class="">
	<div class="">
		<h4 class="card-title">Affecter une nouvelle resource &agrave; la t&acirc;che</h4>
		<button type="button" class="close" aria-label="Close"
			(click)="activeModal.dismiss('Cross click')"></button>
	</div>
	<div class="">
		<form [formGroup]="addResourceToTaskForm" class="example-form">
		  	<mat-form-field class="example-full-width">
		    	<mat-label>Ressource</mat-label>
		    	<input type="text"
		        	placeholder="Pick one"
		           	aria-label="Number"
		           	matInput
		           	[formControl]="myControl"
		           	[matAutocomplete]="auto">
			    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
			    	<mat-option *ngFor="let resource of filteredResources | async" [value]="resource.quadri">
			        	{{resource.quadri}}
			      	</mat-option>
			    </mat-autocomplete>
		  	</mat-form-field>
		  	<mat-form-field>
				<mat-date-range-input [rangePicker]="datepicker">
					<input matStartDate formControlName="startDate" placeholder="Start date"> 
					<input matEndDate formControlName="endDate" placeholder="End date"> 
				</mat-date-range-input>
				<mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
				<mat-date-range-picker #datepicker></mat-date-range-picker> 
			</mat-form-field>
			<mat-form-field>
				<input type="number"
					formControlName="numberOfDaysPerWeek" 
		           	aria-label="Nombre de jours par semaine"
		           	matInput>
			</mat-form-field>
<!-- 			<div> -->
			<button class="btn btn-fill btn-danger">Submit Form</button>
<!-- 			</div> -->
		</form>
	</div>
</div>
