<div class="wrapper">
	<app-sidebar></app-sidebar>
	<div class="main-panel">
		<app-navbar></app-navbar>
		<div class=" content">
			<div class=" row">
				<div class=" col-md-12">
					<app-profiles-table></app-profiles-table>
				</div>
			</div>
			<div class=" row">
				<div class=" col-md-12">
					<app-competences-table></app-competences-table>
				</div>
			</div>
			<div class=" row">
				<div class=" col-md-12">
					<app-request-table></app-request-table>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>
</div>
