<div class="card">
	<div class="card-header">
		<h4 class="card-title">Cr&eacute;er une nouvelle ressource</h4>
		<button type="button" class="close" aria-label="Close"
			(click)="activeModal.dismiss('Cross click')"></button>
	</div>
	<div class="card-body">
		<form [formGroup]="createResourceForm" (ngSubmit)="submitForm()">
			<div class="modal-boy">
				<div class="container">
					<div class="form-group">
						<label for="username">Peudo</label> 
						<input type="text" class="form-control" formControlName="username" />
						<label for="firstname">Pr&eacute;nom</label> 
						<input type="text" class="form-control" formControlName="firstname" />
						<label for="lastname">Nom</label> 
						<input type="text" class="form-control" formControlName="lastname" />
						<label for="quadri">Quadri</label> 
						<input type="text" class="form-control" formControlName="quadri" />
						<label for="password">Mot de passe</label> 
						<input type="text" class="form-control" formControlName="password" />
					</div>
				</div>
			</div>
			<div>
				<button class="btn btn-fill btn-danger"
					[disabled]="!createResourceForm.valid">Submit Form</button>
			</div>
		</form>
	</div>
</div>