<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Resources affect&eacute;es</h4>
	</div>
	<div class=" card-body">
		<div *ngIf="project?.resourceList?.length > 0; else noItemsFound" class=" table-responsive">
			<table class=" table tablesorter" id="">
				<thead class=" text-primary">
					<tr>
						<th>Pr&eacute;nom</th>
						<th>Nom</th>
						<th><i (click)="openFormModal()" class="tim-icons icon-simple-add"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let resource of project?.resourceList">
						<td>{{resource.firstname}}</td>
						<td colspan="2">{{resource.lastname}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ng-template #noItemsFound>
			<div>
				Pas de ressources trouv&eacute;s
			</div>
		</ng-template>
		<button (click)="openFormModal()" class=" btn btn-fill btn-danger" >Ajouter une ressource</button>
	</div>
</div>
