<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Besoins Plateau <i (click)="openFormModal()" class="tim-icons icon-simple-add"></i></h4>
	</div>
	<div class=" card-body">
		<div class=" table-responsive inline" >
			<table class=" table tablesorter">
				<thead class=" text-primary">
					<tr>
						<th>Profil</th>
						<th>Criticit&eacute;</th>
						<th>Projet</th>
						<th>Type</th>
						<th>Statut</th>
						<th>Demandeur</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let need of needs">
						<td>{{need.profile}}</td>
						<td [ngClass]="utils.getProperty('criticity', need.criticity, 'class')">{{need.criticity}}</td>
						<td>{{need.project}}</td>
						<td><app-message message="type" feature="{{need.type}}" item="label"></app-message></td>
						<td><app-message message="status" feature="{{need.status}}" item="label"></app-message></td>
						<td>{{need.requestor?.quadri}}</td>
						<td *ngFor="let week of testDataShown"></td> 
					</tr>
				</tbody>
			</table>
			<app-week-table [list]="needs"></app-week-table>
		</div>
	</div>		
</div>