<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Disponibilit&eacute;s</h4>
	</div>
	<div class=" card-body">
		<div class=" table-responsive inline" >
			<app-week-table [list]="availabilities"></app-week-table>
			<table class=" table tablesorter">
				<thead class=" text-primary">
					<tr>
						<th>D&eacute;tail d'implication</th>
						<th>Ressource</th>
						<th>Profil</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let availability of availabilities">
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
