<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Disponibilit&eacute;s <i (click)="openFormModal()" class="tim-icons icon-simple-add"></i></h4>
	</div>
	<div class=" card-body">
		<div class=" table-responsive inline" >
			<app-week-table [list]="availabilities"></app-week-table>
			<table class=" table tablesorter">
				<thead class=" text-primary">
					<tr>
						<th>D&eacute;tail d'implication</th>
						<th>Ressource</th>
						<th>Profils</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let availability of availabilities">
						<td>{{utils.getProperty('implication', availability.implication, 'label')}}</td>
						<td>{{availability.resource.quadri}}</td>
						<td>{{availability.resource.profiles}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>