<div class=" content" *ngIf="project" >
	<div class=" row">
		<div class="col-md-12">
			<div class=" card">
				<div class=" card-header">
					<h1 class=" title">Projet {{project.name}}</h1>
				</div>
				<div class=" card-body">
					<form [formGroup]="updateProjectForm">
						<div class=" row">
							<div class="col-md-3 pr-md-1">
								<div class=" form-group">
									<label>Nom</label> 
									<input class=" form-control" formControlName="name" placeholder="Nom" type="text" />
								</div>
							</div>
							<div class=" col-md-3 px-md-1">
								<div class=" form-group">
									<label>Status</label>
									<select class=" form-control" formControlName="status">
										<option value="active">En cours</option>
										<option value="forecast">Pr&eacute;visionnel</option>
										<option value="closed">Cl&ocirc;tur&eacute;</option>
									</select>
								</div>
							</div>
							<div class=" col-md-4 px-md-1" *ngIf="project.parent">
								<div class=" form-group">
									<label>Projet parent</label>
									<select class=" form-control" formControlName="parent">
										<option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
									</select>
								</div>
							</div>
							<div class="save col-md-2 px-md-1">
								<button class=" btn btn-fill btn-danger" type="submit">Sauvegarder</button>
							</div>
						</div>
					</form>

					<div class="row">
						<div class=" col-md-4 pr-md-1" >
							<app-resources-table [project]="project"></app-resources-table>
						</div>

						<div class=" col-md-8 pl-md-1" >
							<app-request-table [project]="project"></app-request-table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>