<div class="card">
	<div class="card-header">
		<h4 class="card-title">Cr&eacute;er un nouveau projet</h4>
		<button type="button" class="close" aria-label="Close"
		   (click)="activeModal.dismiss('Cross click')">
		</button>
	</div>
	<div class="card-body">
		<form [formGroup]="createProjectForm" (ngSubmit)="submitForm()">
		  	<div class="modal-boy">
		    	<div class="container">
		      		<div class="form-group row">
				    	<div class=" col-md-3">
					        <label for="name">Nom</label>
					        <input type="text" class="form-control" formControlName="name" />
				    	</div>
				    	
				    	<div class=" col-md-3">
						    <label for="status">Statut</label>
							<select class="form-control" name="status" formControlName="status">
								<option value="forecast">Pr&eacute;visionnel</option>
								<option value="active">En cours</option>
							</select>
						</div>

				    	<div class=" col-md-3">
						    <label for="parent">Projet parent</label>
							<select class=" form-control" formControlName="parent">
								<option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
							</select>
						</div>
						
				    	<div class=" col-md-3" *ngIf="selectedStatus == 'forecast'">
							<label for="confidencePercentage">% de confiance</label>
							<input class=" form-control" type="number" name="confidencePercentage" formControlName="confidencePercentage" value="100"/>
			      		</div>
			      	</div>
			      	<div class="form-group row">			      	
				    	<div class=" col-md-6">
					      	<div>
					      		<label for="soldWorkload">Charge vendue</label>
								<input class=" form-control" type="number" name="soldWorkload" formControlName="soldWorkload" />
					      	</div>
				      		<div>
					      		<label for="challengedWorkload">Charge challeng&eacute;e</label>
								<input class=" form-control" type="number" name="challengedWorkload" formControlName="challengedWorkload" />
					      	</div>
					      	<div>
					      		<label for="consumedWorkload">Charge consomm&eacute;e</label>
								<input class=" form-control" type="number" name="consumedWorkload" formControlName="consumedWorkload" />
					      	</div>
				    	</div>
				      	<div class=" col-md-6">
					      	<div>
					      		<label for="projectMargin">Marge</label>
								<input class=" form-control" type="number" name="projectMargin" formControlName="projectMargin" />
					      	</div>
				    		<div>
					    		<div>Color:</div>
								<div class="color-grid">
									<div class="color" [class.selected]="selectedColor == color" *ngFor="let color of colors" [style.background-color]="color" 
										(click)="selectColor(color)">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" (click)="activeModal.dismiss('cancel click')">Annuler</button>
				<button [disabled]="!createProjectForm.valid" type="button" class="btn btn-outline-secondary" (click)="createProject()">Valider</button>
			</div>
		</form>
	</div>
</div>