<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Profils</h4>
	</div>
	<div class=" card-body">
		<div *ngIf="profiles?.length > 0; else noItemsFound" class=" table-responsive">
			<table class=" table tablesorter">
				<thead class=" text-primary">
					<tr>
						<th>Lib&eacute;ll&eacute;</th>
						<th>Comp&eacute;tences</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let profile of profiles">
						<td>{{profile.name}}</td> 
						<td>{{profile?.competences.join('/ ')}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ng-template #noItemsFound>
			<div>
				Pas de profils trouv&eacute;s
			</div>
		</ng-template>
		<button (click)="openFormModal()" class=" btn btn-fill btn-danger" >Ajouter un profil</button>
	</div>
</div>
