<div class=" content">
	<div class=" row">
		<div class="col-md-12">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Plan de charge</h4>
				</div>
				<div class=" card-body">
					<div>
						<app-grid-parameters></app-grid-parameters>
					</div>	
					<div class=" table-responsive">
						<table class=" table tablesorter">
							<thead class=" text-primary">
								
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th style="border: 1px solid black;" *ngFor="let month of calendar?.monthList" [attr.colspan]="month.numberOfDays" >{{month.name}}</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th style="border: 1px solid black;" [attr.colspan]="week.numberOfDays" *ngFor="let week of calendar?.weekList">S{{week.numWeek}}</th>
								</tr>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
									<th style="border: 1px solid black;" *ngFor="let date of calendar?.planchaCalendarList" [style.color]="'black'" [ngStyle]="{'background-color' : date.holiday ? 'red': 'white'}" >{{date.calendar | date:'d'}}</th>
								</tr>
							</thead>
							<tbody>
								<ng-container *ngFor="let project of projects">
									<tr >
										<td>{{project.confidencePercentage}}%</td>
										<td colspan="4">{{project.name}}</td>
									</tr>
									<ng-container *ngFor="let subproject of project?.subProjectList">
										<tr>
											<td></td>
											<td></td>
											<td colspan="3">{{subproject.name}}</td>
										</tr>
										<tr app-planning-task
											[tasks]="subproject?.taskList"						
											[projectResources]="project?.resourceList">
										</tr>
									</ng-container> 
								</ng-container>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
