<div class=" content">
	<div class="row">
		<div class="col-md-12">
			<div class=" card">
				<div class=" card-header">
					<h4 class=" card-title">Plan de charge</h4>
				</div>
				<div class=" card-body">
					<div>
						<app-grid-parameters></app-grid-parameters>
					</div>	
					<div>
						<div>
							<div>
								<div>
									<div style="border: 1px solid black;" *ngFor="let month of calendar?.monthList" [attr.colspan]="month.numberOfDays" >{{month.name}}</div>
								</div>
								<div>
									<div style="border: 1px solid black;" *ngFor="let week of calendar?.weekList">S{{week.numWeek}}</div>
								</div>
								<div>
									<div style="border: 1px solid black;" *ngFor="let date of calendar?.planchaCalendarList" [style.color]="'black'" [ngStyle]="{'background-color' : date.holiday ? 'red': 'white'}" >{{date.calendar | date:'d'}}</div>
								</div>
							</div>
							<div>
								<ng-container *ngFor="let project of projects">
									<div>
										<div>{{project.confidencePercentage}}%</div>
										<div>{{project.name}}</div>
									</div>
									<ng-container *ngFor="let subproject of project?.subProjectList">
										<div>
											<div>{{subproject.name}}</div>
										</div>
										<ng-container *ngFor="let task of subproject?.taskList">
											<div>{{task.name}}</div>
											<app-planning-task
												[task]="task"
												[gridParameters]="gridParameters"					
												[projectResources]="project?.resourceList"
												[calendars]="calendar?.planchaCalendarList"
												[weeks]="calendar?.weekList">
											</app-planning-task>
										</ng-container>
									</ng-container> 
								</ng-container>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>