<div class="card">
	<div class="card-header">
		<h4 class="card-title">Cr&eacute;er une nouvelle t&acirc;che</h4>
		<button type="button" class="close" aria-label="Close"
		   (click)="activeModal.dismiss('Cross click')">
		</button>
	</div>
	<div class="card-body">
		<form [formGroup]="createTaskForm" (ngSubmit)="submitForm()">
		  	<div class="modal-boy">
		    	<div class="container">
		      		<div class="form-group">
				        <label for="name">Nom</label>
				        <input class=" form-control" type="text" class="form-control" formControlName="name" />
				    </div>
				    <div class=" col-md-3 px-md-1">
				    	<div class="form-group">
					        <label for="status">Statut</label>
							<select class="form-control" name="status" formControlName="status" >
								<option value="forecast">Pr&eacute;visionnel</option>
								<option value="active">En cours</option>
							</select>
				      	</div>
				    </div>
					<div class=" col-md-3 px-md-1">
						<div class=" form-group">
							<label>Type</label> 
							<select class=" form-control" formControlName="taskType" >
								<option *ngFor="let taskType of taskTypes" [ngValue]="taskType">{{taskType.type}}</option>
							</select>
						</div>
					</div>
			      	<div class="form-group">
			      		<label for="soldWorkload">Charge vendue</label>
						<input class=" form-control" type="number" name="soldWorkload" formControlName="soldWorkload" />
			      	</div>
			      	<div class="form-group">
			      		<label for="challengedWorkload">Charge challeng&eacute;e</label>
						<input class=" form-control" type="number" name="challengedWorkload" formControlName="challengedWorkload" />
			      	</div>
			      	<div class="form-group">
			      		<label for="consumedWorkload">Charge consomm&eacute;e</label>
						<input class=" form-control" type="number" name="consumedWorkload" formControlName="consumedWorkload" />
			     	</div>
				</div>
			</div>
			<div>
			    <button class="btn btn-fill btn-danger" [disabled]="!createTaskForm.valid">
			      Submit Form
			    </button>
			</div>
		</form>
	</div>
</div>