<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Projets</h4>
	</div>
	<div class=" card-body">
		<div *ngIf="list?.length > 0; else noItemsFound" class=" table-responsive">
			<table class=" table tablesorter">
				<thead class=" text-primary">
					<tr>
						<th>Nom</th>
						<th>Statut</th>
						<th>% de confiance</th>
						<th>Charge vendue</th>
						<th>Charge challeng&eacute;e</th>
						<th>Charge consomm&eacute;e</th>
						<th>Marge</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of list">
						<td [style.background-color]="item.color">{{item.name}}</td>
						<td>{{item.status}}</td>
						<td>{{item.confidencePercentage}}%</td>
						<td>{{item.soldWorkload}}</td>
						<td>{{item.challengedWorkload}}</td>
						<td>{{item.consumedWorkload}}</td>
						<td>{{item.projectMargin}}</td>
						<td>
							<div>
								<a [routerLink]="['/project', item.id]">
									<i class="tim-icons icon-pencil"></i>
								</a>
								<i (click)="openDeleteModal(item)" class="tim-icons icon-trash-simple"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div> 
		<ng-template #noItemsFound>
			<div>
				Pas de projets trouv&eacute;s
			</div>
		</ng-template>
		<button (click)="openFormModal()" class=" btn btn-fill btn-danger" >Ajouter un projet</button>
	</div>
</div>
