<div class=" card">
	<div class=" card-header">
		<h4 class=" card-title">Projets</h4>
	</div>
	
	<div class=" card-body">
		<div *ngIf="projects?.length > 0; else noItemsFound" >
			<form [formGroup]="filtersForm">
				<app-filter [projects]="projects" [parentForm]="filtersForm" (filterEvent)="updateFilter($event)"></app-filter>
			</form>
			<table class=" table table-striped">
				<thead>
					<tr>
						<th colspan="4" class="first-col" sortable="name" (sort)="onSort($event)">Nom</th>
						<th sortable="status" (sort)="onSort($event)">Statut</th>
						<th sortable="confidencePercentage" (sort)="onSort($event)">% conf</th>
						<th sortable="soldWorkload" (sort)="onSort($event)">Ch. vendue</th>
						<th sortable="challengedWorkload" (sort)="onSort($event)">Ch. challeng&eacute;e</th>
						<th sortable="consumedWorkload" (sort)="onSort($event)">Ch. consomm&eacute;e</th>
						<th sortable="projectMargin" (sort)="onSort($event)">Marge</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let project of projects">
						<tr *ngIf="project.selected">
							<td *ngIf="project.projects.length > 0" class="collapse-icon">
								<i class="tim-icons" 
									[ngClass]="isCollapsed(project.id) ? 'icon-minimal-right' : 'icon-minimal-down'" 
									(click)="toggle(project.id)"></i>
							</td>
							<td *ngIf="project.projects.length == 0" ></td>
							<td colspan="3" [style.background-color]="project.color">{{project.name}}</td>
							<td>{{project.status}}</td>
							<td>{{project.confidencePercentage}}%</td>
							<td>{{project.soldWorkload}}</td>
							<td>{{project.challengedWorkload}}</td>
							<td>{{project.consumedWorkload}}</td>
							<td>{{project.projectMargin}}</td>
							<td><i (click)="createProject()" class="tim-icons icon-simple-add" ></i></td>
							<td>
								<a [routerLink]="['/project', project.id]">
									<i class="tim-icons icon-pencil"></i>
								</a>
							</td>
							<td><i (click)="openDeleteModal(project)" class="tim-icons icon-trash-simple"></i></td>
						</tr>
						<ng-container *ngIf="!isCollapsed(project.id) && project.selected">
							<ng-container *ngFor="let subItem of project.projects">
								<tr>
									<td class="empty" ></td>
									<td *ngIf="subItem.projects.length > 0" class="collapse-icon">
										<i class="tim-icons" 
											[ngClass]="isCollapsed(subItem.id) ? 'icon-minimal-right' : 'icon-minimal-down'" 
											(click)="toggle(subItem.id)"></i>
									</td>
									<td *ngIf="subItem.projects.length == 0" ></td>
									<td colspan="2" [style.background-color]="subItem.color">{{subItem.name}}</td>
									<td>{{subItem.status}}</td>
									<td>{{subItem.confidencePercentage}}%</td>
									<td>{{subItem.soldWorkload}}</td>
									<td>{{subItem.challengedWorkload}}</td>
									<td>{{subItem.consumedWorkload}}</td>
									<td>{{subItem.projectMargin}}</td>
									<td><i (click)="createProject(project)" class="tim-icons icon-simple-add" ></i></td>
									<td>
										<a [routerLink]="['/project', subItem.id]">
											<i class="tim-icons icon-pencil"></i>
										</a>
									</td>
									<td><i (click)="openDeleteModal(subItem)" class="tim-icons icon-trash-simple"></i></td>
								</tr>
								<ng-container *ngIf="!isCollapsed(subItem.id)">
									<tr *ngFor="let subSubItem of subItem.projects">
										<td class="empty" ></td>
										<td class="empty" ></td>
										<td class="empty" ></td>
										<td [style.background-color]="subSubItem.color">{{subSubItem.name}}</td>
										<td>{{subSubItem.status}}</td>
										<td>{{subSubItem.confidencePercentage}}%</td>
										<td>{{subSubItem.soldWorkload}}</td>
										<td>{{subSubItem.challengedWorkload}}</td>
										<td>{{subSubItem.consumedWorkload}}</td>
										<td>{{subSubItem.projectMargin}}</td>
										<td><i (click)="createProject(subItem)" class="tim-icons icon-simple-add" ></i></td>
										<td>
											<a [routerLink]="['/project', subSubItem.id]">
												<i class="tim-icons icon-pencil"></i>
											</a>
										</td>
										<td><i (click)="openDeleteModal(subSubItem)" class="tim-icons icon-trash-simple"></i></td>
									</tr>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
				</tbody>
			</table>
		</div> 
		<ng-template #noItemsFound>
			<div>
				Pas de projets trouv&eacute;s
			</div>
		</ng-template>
	</div>
</div>
