<div>
	<button *ngFor="let column of columns" (click)="selectColumn(column)">{{column}}</button>
</div>

<div class="filter" >
	<input name="filter" (focus)="focusIn()" class="form-control" [(ngModel)]="searchText" [value]="searchText" >
	<ul class="list" (focusout)="focusOut()" *ngIf="filterActivated" >
		<li *ngFor="let item of items | filter : searchText" >
			<input [(ngModel)]="item.selected" (change)="changeSelection()" type="checkbox" value="{{item.id}}" />
			<i class="tim-icons" 
				[ngClass]="isCollapsed(item.id) ? 'icon-minimal-right' : 'icon-minimal-down'" 
				(click)="toggle(item.id)"></i>
			<span>{{item.name}}</span>
		</li>
	</ul>
</div>