<div class=" table-responsive">
	<table class=" table tablesorter">
		<thead class=" text-primary">
			<tr>
				<th></th>
				<th>D&eacute;tails</th>
				<th>Acteur</th>
				<th>Statut</th>
				<th>R&eacute;currence</th>
				<th>Category</th>
				<th colspan="2"><i (click)="openFormModal()" class="tim-icons icon-simple-add"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let todoItem of todoItems">
				<td>{{todoItem?.name}}</td>
				<td>{{todoItem?.detail}}</td>
				<td>{{todoItem?.affectedTo?.quadri}}</td>
				<td (click)="toggleStatus(todoItem)" [ngStyle]="{'background-color': utils.getProperty('todoStatus', todoItem?.status, 'color')}">{{utils.getProperty('todoStatus', todoItem.status, 'label')}}</td>
				<td><app-message message="todo" feature="recurrence" item="{{todoItem?.recurrence}}"></app-message></td>
				<td>{{utils.getProperty('todoCategory', todoItem.todoItemCategory, 'label')}}</td>
				<td><i (click)="openFormModal(todoItem)" class="tim-icons icon-pencil"></i></td>
				<td><i (click)="openDeleteModal(todoItem)" class="tim-icons icon-trash-simple"></i></td>
			</tr>
		</tbody>
	</table>
</div>