<div>{{getResourceById(resourceCalendar.resource)?.quadri}}</div>
<ng-container *ngIf="gridParameters.view == 'days'">
	<ng-container *ngFor="let calendar of calendars">
		<div>
			<app-planning-cell [view]="gridParameters.view" [calendarItem]="calendar" [resourceCalendar]="resourceCalendar" ></app-planning-cell>
		</div>
	</ng-container>
</ng-container>
<ng-container *ngIf="gridParameters.view == 'weeks'" >
	<ng-container *ngFor="let week of weeks">
		<div>
			<app-planning-cell [view]="gridParameters.view" [week]="week" [resourceCalendarId]="resourceCalendar"></app-planning-cell>
		</div>
	</ng-container>
</ng-container>