<td [attr.colspan]="offset"></td>
<td class="cell-background"></td>
<td class="input-cell row-header" [attr.colspan]="5 - offset">{{resourceCalendar.resource?.quadri}}</td>

<ng-container *ngFor="let week of calendar?.weekList">
	<ng-container *ngFor="let date of week?.planchaCalendars">
		<td class="input-cell" *ngIf="date.dayNumberInWeek == 1" [attr.colspan]="week.numberOfDays" >
			<app-planning-cell
				(valueChange)="sum($event)" 
				[project]="project"
				[calendarItem]="getCellValue(resourceCalendar, date)" 
				[resourceCalendar]="resourceCalendar" >
			</app-planning-cell>
		</td>
	</ng-container>
</ng-container>