<td [attr.colspan]="offset" class="empty"></td>
<td class="cell-background resource-background"></td>
<td class="input-cell row-header" [attr.colspan]="5 - offset">{{resourceCalendar ? resourceCalendar.resource?.quadri : resource?.quadri}}</td>
<td></td>
<ng-container *ngFor="let week of calendar?.weekList">
	<ng-container *ngFor="let date of week?.planchaCalendars">
		<td class="input-cell" *ngIf="date.dayNumberInWeek == 1" [attr.colspan]="week.numberOfDays" >
			<app-planning-cell
				(valueChange)="sum($event)" 
				[project]="project"
				[subItem]="subItem"
				[subSubItem]="subSubItem"
				[calendarItem]="getCellValue(date)" 
				[resourceCalendar]="resourceCalendar" >
			</app-planning-cell>
		</td>
	</ng-container>
</ng-container>